.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.center p {
    margin: 0;
}